# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_Store

# IPython NB Checkpoints
.ipynb_checkpoints/

# exclude any pdfs, htmls, pngs, docx, .RData
*.docx
*.html
*.RData
*.rds
*.pdf
*.html
*.png

# folders
/data/processed/*
/data/raw/*
presentations/*
writing/*
output/*

