# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Database
*.db
*.rdb

# TeX/LaTeX
*.aux
*.bbl
*.blg
*.synctex.gz
*.xwm

# IPython NB Checkpoints
.ipynb_checkpoints/

# exclude any pdfs, htmls, pngs, docx, .RData
*.docx
*.html
*.RData
*.rds
*.pdf
*.html
*.png

# folders
/data/processed/*
/data/raw/*
presentations/*
writing/*
output/*

